/* resume styles */

$res-padding: 0.3em;

#resume { 
  h1, h2 { margin-bottom: 0.3em;}
  
  .adr, .email, .linkedin, p {
    padding-left: $res-padding;
  }
  
  ul {
    padding-left: $res-padding;
  
    li {
      list-style: none;
      
      &.experience {
        margin-bottom: 0.8em;
        
        .org {
            font-size: 1.1em;
            font-weight: bold;
          }
        
        }
      
      ul {
        padding-left: 2em;

        li {
          list-style-type: disc;
        }
      }
    }
  
    &#skill-list {
      li {
        list-style: none;
        .skillset-title  {font-weight: bold;}
        a {margin-left: 0.2em;}
      }
    }
  }
}

/* end resume content */